<div class="container-fluid container-fluid-custom">
    <h1>About</h1>
    <p class="m-5">Welcome to our notes app! Our app is designed to help you easily create, organize, and manage your notes in one
        convenient location. Whether you're a student, a professional, or just someone who likes to stay organized, our
        app can help you stay on top of your notes and ideas.

        With our app, you can create notes on-the-go, from anywhere, at any time. You can categorize your notes by topic
        or project, add labels to easily identify them, and use the search function to quickly find what you need. You
        can also customize the look and feel of your notes, including font styles, colors, and backgrounds, to suit your
        preferences.

        Our app is designed with simplicity in mind, so you can focus on what's important: your notes. We believe that
        taking notes should be easy and intuitive, so you can capture your ideas without any distractions. Our app is
        also highly secure, so you can rest assured that your notes are safe and private.

        We're committed to providing you with the best possible notes app experience, and we're constantly working to
        improve our app with new features and functionality. We value your feedback and suggestions, so please don't
        hesitate to contact us if you have any questions or comments.

        Thank you for choosing our notes app! We hope it helps you stay organized and productive.





    </p>
</div>